*.gem
.DS_Store
bin/.DS_Store
lib/.DS_Store
public/.DS_Store
public/img/.DS_Store
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
